Repository thisrohangupta/codex, changes with the labels that .github/labeler.yml gives for each.
All labels: area:console, area:web, area:api-python, area:api-go, area:api-java, area:functions, area:mobile, area:salesforce, area:ops, ci, docs

chore: add Code of Conduct, Dependabot, and branch protection workflow
  .github/dependabot.yml
  .github/workflows/branch-protection.yml
  CODE_OF_CONDUCT.md
Labels: ci, docs

chore(console): add AUTH_DISABLED flag and bypass auth for local testing
  README.md
  apps/console/app/api/agent/execute/route.ts
  apps/console/app/api/agent/plan/route.ts
  apps/console/app/api/approvals/[id]/approve/route.ts
  apps/console/app/api/approvals/[id]/deny/route.ts
  apps/console/app/api/approvals/route.ts
  apps/console/app/layout.tsx
  apps/console/lib/featureFlags.ts
Labels: area:console, docs

chore(console): bump next to 14.2.31 and harden config (disable image optimization, no-store headers)
  apps/console/next.config.js
  apps/console/package-lock.json
  apps/console/package.json
Labels: area:console

chore: route-aware cache headers and add npm audit CI (fail on high)
  .github/workflows/npm-audit.yml
  README.md
  apps/console/next.config.js
Labels: area:console, ci, docs

chore: add security middleware, per-route cache for catalog API, Lighthouse & ZAP CI, and CodeQL SAST
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
  .github/workflows/zap-baseline.yml
  .zap/rules.tsv
  apps/console/app/api/catalog/services/route.ts
  apps/console/middleware.ts
Labels: area:console, ci

chore: add security middleware, CI scans (Lighthouse, ZAP, CodeQL), per-route cache, and ignore Next build/data
  .gitignore
Labels: none

fix(console): use catalog list in deployments service selector
  apps/console/app/deployments/page.tsx
Labels: area:console

feat(console/ui): apply glassmorphism theme, gradient bg, and component styling across pages
  apps/console/app/deployments/page.tsx
  apps/console/app/environments/page.tsx
  apps/console/app/globals.css
  apps/console/app/layout.tsx
  apps/console/app/page.tsx
  apps/console/app/runs/page.tsx
Labels: area:console

fix(console): remove dynamic ssr:false in Server Component; import AuthButtons directly
  apps/console/app/layout.tsx
Labels: area:console

fix(console): remove deprecated experimental.appDir and wrap header in SessionProvider to satisfy useSession
  apps/console/app/layout.tsx
  apps/console/next.config.js
Labels: area:console

feat(console/mock+ux): add client-side Mock Mode with toasts, skeletons, badges; improve Chat and Deployments UX
  apps/console/app/deployments/page.tsx
  apps/console/app/globals.css
  apps/console/app/layout.tsx
  apps/console/app/page.tsx
  apps/console/components/Toast.tsx
  apps/console/lib/mock.ts
  apps/console/next-env.d.ts
  apps/console/tsconfig.json
Labels: area:console

feat(console/mock): default Mock Mode with toggle in header; pages now read mock state and show indicators; approvals mocked
  apps/console/app/deployments/page.tsx
  apps/console/app/layout.tsx
  apps/console/app/page.tsx
  apps/console/components/MockToggle.tsx
  apps/console/lib/useMock.ts
Labels: area:console

feat(tron-chess): add Tron splash menu with modes, move/check animations, sounds, and basic AI (minimax depth 2-3)
  games/tron-chess/index.html
  games/tron-chess/package.json
  games/tron-chess/src/main.ts
  games/tron-chess/src/styles.css
  games/tron-chess/tsconfig.json
Labels: none

.github/labeler.yml:

area:console:
  - 'apps/console/**'
area:web:
  - 'apps/web/**'
area:api-python:
  - 'apps/api-python/**'
area:api-go:
  - 'apps/api-go/**'
area:api-java:
  - 'apps/api-java/**'
area:functions:
  - 'apps/functions/**'
area:mobile:
  - 'apps/mobile/**'
area:salesforce:
  - 'apps/salesforce/**'
area:ops:
  - 'ops/**'
ci:
  - '.github/workflows/**'
docs:
  - '**/*.md'
